*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.bodyHeader{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
}

.blocoInvisivel{
    width: 100%;
    height: 12vh;
}

.bodyLinks{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyLinks a{
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.bodyLinks a:hover{
    font-size: 1.4rem;
    color: orange;
}

.bodyApresentacao{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textoApresentacao{
    width: 90%;
    height: auto;
    text-align: start;
    margin: 5rem 0rem;
}
.textoApresentacao h1{
    font-size: 2rem;
    font-weight: bold;
    color: orange;
}
.textoApresentacao p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.blocoApresentacaoImg{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:start;
}

.blocoApresentacaoImg img{
    width: 20%;
    height: auto;
    border-radius: 0.2rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.blocoApresentacaoImg img:hover{
    width: 22%;
}


.blocoImagem{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
}

#imgLogo{
    width: 10%;
    border-radius: 1rem;
}

.bodyProjetos{
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 9rem;
    text-align: center;
}

.bodyProjetos p{
    font-size: 1.5rem;
}

.bi-exclamation-diamond-fill{
    font-size: 2rem;
    color: orange;
    margin: 0rem 0.5rem;
}

.bodyContato{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem 0rem;
}

.blocoContato{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#tituloEmail{
    font-size: 1.3rem;
    color: red;
}

#tituloWhatsApp{
    font-size: 1.3rem;
    color: green;
}

.bodyFooter{
    width: 100%;
    height: 5rem;
    background-color: black;
}